#pageHead {background:url('../img/background/bigTread.png') no-repeat 550px -100px;}

.raceNav {width:100%; overflow:hidden; background:url('../img/background/raceNavContBack.png') repeat-x left bottom;}
.raceNav ul {width:1015px; margin:auto; padding:5px 0 0;}
.raceNav li {float:left; font-family:Georgia; font-size:20px; font-weight:300;}
.raceNav a {display:block; background:#717171; color:#fff; padding:6px 25px 8px;}
.raceNav a.active {background:url('../img/background/raceNavBack.png') repeat-x left bottom; color:#3c3c30; -moz-box-shadow:0 0 8px #000; -webkit-box-shadow:0 -1px 7px #000;}

#mainContent {min-height:600px; background-position:0 -1px}
#mainContent div {margin:30px auto;}
#mainContent div > div {margin:0;}
#mainContent .leftContent h3 {margin:15px 0 0}
#mainContent .leftContent h3 + h4 {margin-top:5px}
#mainContent .leftContent h4 {font-size:16px; font-weight: 700; font-family: arial,helvetica,san-serif;}
#mainContent .leftContent p {margin-left:25px;}

ul.bullet + p {margin-top:15px !important;}

#thawGallery, #stxcGallery {width:594px; height:284px; border:3px solid rgba(0, 0, 0, 0.4); -moz-border-radius:3px; -webkit-border-radius:3px; margin:0 0 7px 0;}
#thawGallery li, #stxcGallery li {-webkit-border-radius:2px; -moz-border-radius:2px;}

.rightContent h3 {font-size:28px; text-align:center; color:#3c3c30; font-weight:300; padding:0 0 7px 0; margin:0 0 7px 0; background:url('../img/background/narrowHR.png') no-repeat center bottom;}
.rightContent h5, .rightContent p {font-size:12px; font-family:arial, helvetica, san-serif;}
.rightContent p {margin:3px 0 10px 15px}
.rightContent ul.rightNav {background:url('../img/background/rightNavGradient.png') repeat-x left bottom; margin: 0 0 15px; overflow:hidden; padding: 0 10px;}
.rightContent #sponsors, .rightContent #sponsors li {background:none; width:290px; height:290px; margin:0 auto 10px auto;}

#registerNow {display:block; width:300px; height:102px; background:url('../img/background/register.png') no-repeat 0 0; margin: 10px 30px 20px;}
#mainContent #mailInRegistration, .pdfForm {display:block; padding-left:35px; height:40px; font-size:14px; font-weight:700; background:url('../img/background/pdf.png') no-repeat 0 0; margin:10px 5px; font-weight:700;}
#mainContent .pdfForm {height:28px; font-weight:300;}

h3.firstChild {margin-top:0 !important}
