body {
	margin: 10px;
}
p, td, span, li, a {
	font-family: verdana, arial, helvetica, sans-serif;
}
h1 {
	border-bottom: 1px solid #666;
	width: 125px;
	font: 100% verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	margin: 0 0 5px 0;
}
h2 {
	border-bottom: 1px solid #666;
	clear: both;
	font: 80% verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	margin: 15px 0 10px 0;
	padding: 0 0 3px 0;
	width: 700px;
}
h3 {
	float: left;
	font: 80% verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0;
	width: 446px;
}

ul {
	margin-left: 125px;
	padding: 0;
}

li {
	font-size: 70%;
	margin: 0 0 3px 20px;
	padding: 0;
}

ul.portfolio {margin:0; padding:0; width:725px;}
ul.portfolio li {font-size:11px; margin:0 0 0 50px; list-style-type:none;}
li.nested {margin:0 0 10px 75px !important;}

li span {
	position:absolute; left:-3000px;;
}

p {
	font-size: 70%;
	padding: 0;
	width: 575px;
}

a:link {
	color:navy;
	font-weight:bold;
	text-decoration:none;
}

a:visited {
	color:navy;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	color:navy;
	font-weight:bold;
	text-decoration:underline;
}

#skills_left {
	width: 285px;
    left:50px;
	position:relative;
	float:left;
    padding:0;
    margin-bottom:10px;
    overflow:hidden;
}

#skills_left h2 {
	border-bottom:none;
	width: 285px;
	font-size: 75%;
	margin: 0 0 5px 0;
	padding: 0;
}

#skills_left ul {
	margin:0px;
	padding: 0px;
	width: 285px;
}

#skills_right {
	left:130px;
	width: 285px;
	position:relative;
	float:left;
}

#skills_right h2 {
	border-bottom:none;
	width: 285px;
	font-size: 75%;
	margin: 0 0 5px 0;
	padding: 0;
}

#skills_right ul {
	margin:0 0 0 0;
	padding: 0;
	width: 285px;
}
#bio_left, #bio_right {
	padding:0;
	margin:0 0 10px 0;
}

#bio_left li, #bio_right li {
	list-style-type:none;
    margin-bottom:0;
}

#bio_left {
	float: left;
	width: 500px;
}
#bio_right {
	float: left;
	text-align: right;
	width: 200px;
}
.company {
	clear: both;
	margin: 0 0 5px 0;
	padding: 0;
}

.data {
	padding-left: 125px;
}

.date {
	clear: left;
	float: left;
	padding-top: 2px;
	width: 125px;
	margin-top: 0px;

}

.job {
	clear: both;
	width: 700px;
}

.job ul {
	margin: 3px 0 0 0;
	padding: 0;
	width: 575px;
}

.job_data {
	float: left;
	width: 575px;
	margin-bottom: 5px;
}

.location {
	clear: right;
	float: left;
	text-align: right;
	width: 125px;
	font-weight:bold;
	margin-top: 0px;
}

.position {
	font-style: italic;
	margin: 0 0 5px 0;
}

#references {
	margin-top: 20px;
	font-style:italic;
}

#meta {
	margin-top: 30px;}
