body {background:url("images/greatoutdoorgrill.jpg") no-repeat scroll center 15px transparent; font-family: arial, helvetica, san-serif;}
h1 {width:800px; margin: 600px auto 0 auto; text-align: center;}
p {font-size:12px; width:800px; margin: auto; text-align: center;}
a {font-weight:700; color:#255ead;}
a:hover {text-decoration:none;}